<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>using of layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div class="container">
        <header>
            <div class="logo">
                <h1>My logo</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about us">About Us</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="#contact us">Contact Us</a></li>
                </ul>
            </nav>
        </header>

    <!-- main -->
        <main>
            <!-- articles part -->
                <section>
                    <article>
                        <h2>This is my  first Article</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam error corrupti, rem nobis labore illum soluta natus! Consequuntur eum vel veritatis velit commodi cumque quasi sed, maxime dolor ipsum.</p>
                        <a href="#">Read more</a>
                    </article>

                    <article>
                        <h2>This is my Second Article</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam error corrupti, rem nobis labore illum soluta natus! Consequuntur eum vel veritatis velit commodi cumque quasi sed, maxime dolor ipsum.</p>
                        <a href="#">Read more</a>
                    </article>

                    <article>
                        <h2>This is my  Third Article</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam error corrupti, rem nobis labore illum soluta natus! Consequuntur eum vel veritatis velit commodi cumque quasi sed, maxime dolor ipsum.</p>
                        <a href="#">Read more</a>
                    </article>      
                </section>                
                 <!-- sidebar -->
                    <aside>
                        <form action="">
                            <label for="UserName">Username:</label>
                            <input type="text" name="UserName" placeholder="Enter your username">
                            <br>
                            <label for = "Password"> Password:</label>
                            <input type = "password" name = "Password" placeholder = "Enter your password">
                            <br>
                            <input type = "submit" naem = "submit" value = "Login">
                        </form>
                    </aside>
                
           
        </main>
    
    <div class="footer">
        <footer>
            <p> All rights reserved</p>
            <p>Design and developed by Imran Pasha Sinha</p>
        </footer>
    </div>

</div>
</body>
</html>